<div class="container mt-3">
    <h2 class="mt-3">Authentication WebApp -Bit</h2>
    <a href="/users/register"><button class="btn btn-primary">Register</button></a>
    <a href="/users/login"><button class="btn btn-primary">Login</button></a>
</div>